# Archivos y carpetas a ignorar por Git
_pycache_/
*.pyc
*.pyo
*.pyd

# Entornos virtuales y variables de entorno
.venv/
.env/
.env

# Archivos del sistema
.DS_Store

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de logs y bases de datos
*.log
*.sqlite3
*.db
